// _sections.scss

// Part one
.section-top {
    height: 1027px;
    color: $color-white;
    background-image: url('../images/cite_fruges-image_background_1.jpg');
    background-size: cover;
    position: relative;

    &--nav-top {
        @include flex-center;
        position: absolute;
        top: 0;
        left: 115px;
        font-size: 0.7em;
        padding: 0 2em;
    }

    .nav-top--language {
        padding: 2em;
        cursor: pointer;
        .active {
            font-weight: bold;
        }
        .lang-fr {
            padding-right: 1em;
        }
        .lang-en {
            padding-left: 1em;
        }
    }

    .nav-top--search-bar {
        @include flex-center;
        padding: 2em 0.7em;
        form {
            display: flex;
        }
        button, input {
            border: none;
            background-color: transparent;
            color: $color-white;
            cursor: pointer;
            font-size: inherit;
        }
        input {
            width: 9em;
            &::placeholder {
                color: $color-white;
                opacity: 1;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
        }
    }

    .nav-top--login-button {
        padding: 2em;
        font-size: 1em;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        color: $color-white;
        @include flex-center;
        .material-symbols-outlined {
            text-decoration: none;
            font-size: 1.5em;
        }
    }

    &--nav-right {
        position: absolute;
        top: 115px;
        right: 40px;
        width: 80px;

        .nav-right--buttons {
            @include flex-center;
            aspect-ratio: 1;
            color: $color-white;
            text-decoration: none;
        }

        .nav-right--burger {
            background-image: transparent;
            border: 2px solid $color-white;
        }

        .nav-right--tickets {
            background-color: $color-secondary;
            .material-symbols-outlined {
                transform: rotate(135deg);
            }
        }

        .nav-right--commu {
            background-color: $color-white;
            color: $color-secondary;
        }
    }

    &--content {
        position: absolute;
        top: 200px;
        left: 120px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 830px;

        .top-content--logo {
            background-color: $color-white;
            width: 400px;
            aspect-ratio: 1;
            font-family: $font-secondary;
            @include flex-center;
            color: $color-secondary;
            font-size: 9.5em;
            letter-spacing: -5px;
        }

        .top-content--text {
            width: 335px;
            height: 100%;
            border: 1px solid $color-white;
            padding: 0.7em 2em;

            h1 {
                font-size: 2.5em;
                line-height: 1.05;
                font-weight: 700;
                margin-bottom: 0;
            }

            p {
                margin-top: 1em;
                font-size: 1.3em;
                line-height: 1.5;
            }
        }
    }
}

// Part two
.section-address {
    height: 1400px;
    background-image: url('../images/cite_fruges-image_background_2.jpg');
    background-size: cover;

    &--content {
        position: absolute;
        top: 0px;
        left: 120px;
        width: 1200px;
        padding: 0;
    }

    /* Cadre vert en haut*/
    &--title {
        width: 800px;
        height: 400px;
        background-color: $color-secondary;
        color: $color-white;
        display: flex;
        flex-direction: row;

        .title-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            .material-symbols-outlined {
                font-size: 100px;
                transform: rotate(135deg);
                margin-left: 30px;
            }
        }

        .title-text {
            width: 50%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 1.9em;
                padding-left: 40px;
                padding-top: 54px;
                letter-spacing: -0.2px;
                line-height: 1.25;
            }

            a {
                text-decoration: none;
                color: $color-white;
                align-self: flex-end;
                padding-top: 30px;
            }

            .material-symbols-outlined {
                font-size: 2em;
            }
        }
    }

    /* Photographie centrale */
    &--image {
        margin-left: 200px;
        width: 600px;
        height: 600px;
    }

    /* Agenda à gauche */
    &--agenda {
        position: absolute;
        top: 200px;
        right: 0;
        width: 400px;

        .agenda-img {
            height: 400px;
        }

        .agenda-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $color-white;
            aspect-ratio: 1;
            padding: 40px;

            &--date {
                color: $color-tertiary;
                font-weight: bold;
                display: flex;
                justify-content: space-between;

                .date-icon .material-symbols-outlined {
                    font-size: 2em;
                    padding-top: 4px;
                }
            }

            .date-event {
                padding: 16px 20px 0 0;
            }

            .text-event--detail {
                font-size: 1.3em;
                line-height: 1.5;
                letter-spacing: -0.4px;
                margin-top: 7px;
                margin-bottom: 70px;
            }

            .text-event--infos {
                opacity: 60%;
                font-style: italic;
                font-size: 0.9em;
                letter-spacing: -0.2px;
            }

            &--button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .button-left {
                    padding-top: 14px;

                    .material-symbols-outlined {
                        font-size: 0.75em;
                        padding-right: 9px;
                    }
                }

                .button-right {
                    display: flex;
                    align-items: center;
                    color: $color-tertiary;
                    text-decoration: none;
                    font-size: 0.9em;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    padding-bottom: 4px;

                    .material-symbols-outlined {
                        font-size: 2.2em;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    /* Adresse en bas */
    &--map {
        height: 400px;
        display: flex;
        flex-direction: row;

        .map-img {
            width: 600px;
            height: 100%;
        }

        .map-infos {
            background-color: $color-tertiary;
            color: $color-white;
            width: 400px;
            aspect-ratio: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-content: center;

            &--icon .material-symbols-outlined {
                font-size: 2.8em;
            }

            &--title {
                text-transform: uppercase;
                letter-spacing: 3.5px;
                font-size: 1.15em;
            }

            &--address {
                font-size: 1.2em;
                line-height: 1.6;
                letter-spacing: 0.5px;
                font-weight: normal;
            }

            &--opening {
                font-weight: bold;
                font-size: 1em;
                line-height: 1.6;
            }
        }
    }
}

// Part three
.section-infos {
    height: 1470px;
    background-image: url('../images/cite_fruges-image_background_3.jpg');
    background-size: cover;

    &--content {
        position: absolute;
        top: 0;
        left: 120px;
        width: 1200px;
        padding: 0;
    }

    &--top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &--discover {
        width: 400px;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-white;
        color: $color-white;

        span {
            transform: scaleX(-1);
            font-size: 2.5em;
            margin-top: 10px;
        }

        h3 {
            margin-top: 25px;
            font-size: 1.1em;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        aspect-ratio: 1;
        line-height: 1.6;
        color: $color-white;
    }

    &--title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 525px;
        cursor: pointer;
    }

    &--first,
    &--second {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-white;
    }
    .section-infos--title {
        .title-cite,
        .title-protagonist {
            width: 400px;
            padding-left: 40px;
            font-size: 2.47em;
            margin: 25px 0;
            opacity: 60%;
        }
    
        span.arrow-cite,
        span.arrow-protagonist {
            font-size: 2em;
            padding-left: 10px;
            display: none;
        }
    
        .active {
            h2 {
                opacity: 100%;
            }
    
            span {
                display: inline;
            }
        }
    }
    .section-infos-detail {
        position: absolute;
        top: 400px;
        left: 799px;
        width: 520px;
        height: 586px;

        .detail-element {
            display: none;
        }

        .detail-content {
            padding: 110px 120px 70px 50px;
            background-color: $color-white;
        }

        .detail-element.active {
            display: inline;
        }

        .detail-text {
            margin: 0;
            padding: 0;
            line-height: 1.86;
        }

        .detail-infos {
            margin: 0;
            padding: 0;
            padding-top: 35px;
            font-weight: bold;
            font-style: italic;
            font-size: 0.85em;
            letter-spacing: 0.1px;
            line-height: 1.56;
        }

        .detail-buttons {
            background-color: $color-white;
            height: 95px;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .material-symbols-outlined {
                font-size: 1.2em;
            }

            &--more,
            &--ticket {
                display: block;
                margin: 0;
                padding: 40px 50px;
                border: 0.5px solid $color-primary;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.8em;
                letter-spacing: 4.8px;
                display: flex;
                align-items: center;
            }

            &--more {
                width: 40%;
                border-right: none;
                color: $color-secondary;
            }

            &--ticket {
                width: 60%;
                color: $color-tertiary;

                .material-symbols-outlined {
                    transform: rotate(135deg);
                }
            }
        }
    }
}

// Part four
.section-librairy {
    height: 1510px;

    .section-librairy-title {
        margin-top: 180px;
        margin-bottom: 152px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 4.5px;
        color: $color-tertiary;

        .material-symbols-outlined {
            padding-bottom: 22px;
            font-size: 2em;
        }
    }

    .section-library--content {
        background-color: yellow;
        position: absolute;
        top: 225px;
        left: 120px;
    }

    .content-mosaic {
        display: flex;
        flex-wrap: wrap;
        width: 1600px;
        height: 800px;
        margin: 0 auto;

        .content-mosaic-element {
            width: 400px;
            height: 400px;
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            background-color: $color-background;

            .element-title {
                padding: 60px 40px;

                &--icon.material-symbols-outlined {
                    display: block;
                    margin-bottom: 30px;
                    font-size: 2em;
                }
            }

            .element-title--icon.material-symbols-outlined, 
            .element-bottom, 
            .element-bottom--link .material-symbols-outlined {
                color: $color-secondary;
            }

            &-title--name {
                font-size: 1.25em;
            }

            .element-bottom {
                align-self: flex-end;
                display: flex;
                flex-direction: row;
                padding: 30px 25px;

                &-size {
                    letter-spacing: 3.2px;
                    font-weight: normal;
                }

                &--link .material-symbols-outlined {
                    margin: 0;
                    margin-left: 10px;
                    font-size: 3em;
                    text-decoration: none;
                }
            }

            .element-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        #element-1, #element-1 .material-symbols-outlined, #element-1 .element-bottom-size {
            background-color: $color-secondary;
            color: $color-white;
        }

        #element-2 .material-symbols-outlined {
            color: $color-tertiary;
        }

        #element-4, #element-4 .material-symbols-outlined, #element-4 .element-bottom-size {
            background-color: $color-tertiary;
            color: $color-white;
        }
    }

    .content-title {
        margin-top: 60px;
        position: absolute;
        left: calc(50% - 120px);
        left: 548px;
        top: 1025px;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        color: $color-tertiary;

        .material-symbols-outlined {
            margin-left: 13px;
        }
    }
}

// Part five
.section-contact {
    top: -176px;
    height: 1667px;
    background-image: url('../images/cite_fruges-image_map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &--background {
        height: 627px;
        width: 100%;
        background-color: $color-background;
        position: absolute;
        bottom: 0;
    }
    &--footer {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 927px;
        left: 120px;
    }
    &--copyright {
        position: absolute;
        top: 7170px;
        height: 130px;
        width: 100%;
        padding: 63px 0 37px 0;
        background-color: $color-white;
        text-align: center;
    }

    .map-content {
        position: absolute;
        top: 0;
        left: 120px;
        width: 1200px;
        display: flex;
        flex-direction: row;
        &--title {
            width: 400px;
            height: 400px;
            background-color: $color-secondary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            text-align: center;
            line-height: 2;
            letter-spacing: 5px;
            font-weight: bold;
            color: $color-white;
            .material-symbols-outlined {
                font-size: 2em;
                margin-bottom: 12px;
            }
        }
        &--infos {
            width: 800px;
            height: 494px;
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &--buttons {
            height: 94px;
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
        }
    }

    .map-button {
        border-top: 0.5px solid $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        text-decoration: none;
        letter-spacing: 3.9px;
        color: $color-secondary;
        .material-symbols-outlined {
            margin-left: 5px;
        }
        &--email {
            width: 294px;
            color: $color-tertiary;
        }
        &--phone {
            width: 263px;
            border-right: 0.5px solid $color-primary;
            border-left: 0.5px solid $color-primary;
        }
        &--website {
            width: 243px;
        }
    }

    .infos-text {
        padding: 40px;
    }

    .infos-nav {
        display: flex;
        flex-direction: row;
        &--title {
            width: 50%;
            padding-top: 13px;
            padding-bottom: 35px;
            border-bottom: 0.5px solid $color-primary;
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: 5px;
            color: $color-secondary;
            cursor: pointer;
            &.active {
                border-bottom: 3.5px solid $color-secondary;
            }
        }
    }

    .title-access {
        padding-left: 22px;
    }

    .infos-content {
        display: none;
        &--text {
            padding-top: 47px;
            padding-bottom: 23px;
        }
        &--button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-secondary;
            width: 212px;
            border-radius: 30px;
            padding: 17px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
            letter-spacing: 4px;
            color: $color-white;
            .material-symbols-outlined {
                transform: rotate(135deg);
                margin-left: 10px;
            }
        }
        &.active {
            display: initial;
        }
    }

    .footer-left {
        width: 400px;
        height: 653px;
    }

    .footer-right {
        width: 798px;
        height: 540px;
    }

    .footer-logo {
        background-color: $color-white;
        width: 400px;
        aspect-ratio: 1;
        font-family: 'Futura', 'Helvetica', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        font-size: 9.5em;
        letter-spacing: -5px;
    }

    .footer-agency {
        display: flex;
        flex-direction: row;
        border: 0.5px solid $color-primary;
        border-right: none;
        width: 400px;
        height: 250px;
        justify-content: center;
        align-items: center;
        &--text {
            width: 50%;
            text-transform: uppercase;
            padding: 50px;
            padding-right: 0;
            font-size: 0.9em;
            letter-spacing: 4px;
            line-height: 1.4;
        }
        &--logo {
            object-fit: none;
            padding-right: 50px;
        }
    }

    .footer-search {
        border: 0.5px solid $color-primary;
        height: 105px;
        width: 716px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        &--form {
            display: flex;
            align-items: center;
            padding: 1em 0;
            border-bottom: 1px solid $color-primary;
            width: 455px;
            form {
                display: flex;
                button, input {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    font-size: inherit;
                }
                input {
                    width: 26em;
                    &::placeholder {
                        opacity: 1;
                        text-transform: uppercase;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        &--language {
            cursor: pointer;
            font-size: 0.9em;
            .active {
                font-weight: bold;
            }
        }
    }

    .footer-media {
        height: 180px;
        display: flex;
        flex-direction: row;
        color: $color-tertiary;
        &--contact, &--social {
            width: 50%;
            border-left: 0.5px solid $color-primary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            line-height: 0.6;
            letter-spacing: 3px;
            font-weight: normal;
        }
        &--social {
            border-right: 0.5px solid $color-primary;
            .media-social--icons {
                .material-symbols-outlined {
                    padding: 12px;
                }
            }
        }
        .media-phone {
            letter-spacing: 1px;
            font-weight: bold;
        }
    }

    .footer-other {
        border: 0.5px solid $color-primary;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &--title {
            text-transform: uppercase;
            letter-spacing: 3.4px;
            line-height: 1.4;
            font-size: 0.85em;
        }
        .logo-superfull {
            margin-left: 10px;
        }
    }

    .footer-links {
        position: absolute;
        top: 1605px;
        left: 120px;
        width: 1200px;
        display: flex;
        justify-content: space-evenly;
        font-size: 0.8em;
        .footer-link {
            text-decoration: none;
            color: $color-primary;
        }
    }
}

.section-contact--copyright {
    position: absolute;
    top: 7170px;
    height: 130px;
    width: 100%;
    padding: 63px 0 37px 0;
    background-color: $color-white;
    text-align: center;
}