// _sections.scss

.section-top {
    height: 1027px;
    color: $color-white;
    background-image: url('../images/cite_fruges-image_background_1.jpg');
    background-size: cover;
    position: relative;

    &--nav-top {
        @include flex-center;
        position: absolute;
        top: 0;
        left: 115px;
        font-size: 0.7em;
        padding: 0 2em;
    }

    .nav-top--language {
        padding: 2em;
        cursor: pointer;
        .active {
            font-weight: bold;
        }
        .lang-fr {
            padding-right: 1em;
        }
        .lang-en {
            padding-left: 1em;
        }
    }

    .nav-top--search-bar {
        @include flex-center;
        padding: 2em 0.7em;
        form {
            display: flex;
        }
        button, input {
            border: none;
            background-color: transparent;
            color: $color-white;
            cursor: pointer;
            font-size: inherit;
        }
        input {
            width: 9em;
            &::placeholder {
                color: $color-white;
                opacity: 1;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
        }
    }

    .nav-top--login-button {
        padding: 2em;
        font-size: 1em;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        color: $color-white;
        @include flex-center;
        .material-symbols-outlined {
            text-decoration: none;
            font-size: 1.5em;
        }
    }

    &--nav-right {
        position: absolute;
        top: 115px;
        right: 40px;
        width: 80px;

        .nav-right--buttons {
            @include flex-center;
            aspect-ratio: 1;
            color: $color-white;
            text-decoration: none;
        }

        .nav-right--burger {
            background-image: transparent;
            border: 2px solid $color-white;
        }

        .nav-right--tickets {
            background-color: $color-secondary;
            .material-symbols-outlined {
                transform: rotate(135deg);
            }
        }

        .nav-right--commu {
            background-color: $color-white;
            color: $color-secondary;
        }
    }

    &--content {
        position: absolute;
        top: 200px;
        left: 120px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 830px;

        .top-content--logo {
            background-color: $color-white;
            width: 400px;
            aspect-ratio: 1;
            font-family: $font-secondary;
            @include flex-center;
            color: $color-secondary;
            font-size: 9.5em;
            letter-spacing: -5px;
        }

        .top-content--text {
            width: 335px;
            height: 100%;
            border: 1px solid $color-white;
            padding: 0.7em 2em;

            h1 {
                font-size: 2.5em;
                line-height: 1.05;
                font-weight: 700;
                margin-bottom: 0;
            }

            p {
                margin-top: 1em;
                font-size: 1.3em;
                line-height: 1.5;
            }
        }
    }
}

.section-address {
    height: 1400px;
    background-image: url('../images/cite_fruges-image_background_2.jpg');
    background-size: cover;

    &--content {
        position: absolute;
        top: 0px;
        left: 120px;
        width: 1200px;
        padding: 0;
    }

    /* Cadre vert en haut*/
    &--title {
        width: 800px;
        height: 400px;
        background-color: #399CA2;
        color: #fff;
        display: flex;
        flex-direction: row;

        .title-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            .material-symbols-outlined {
                font-size: 100px;
                transform: rotate(135deg);
                margin-left: 30px;
            }
        }

        .title-text {
            width: 50%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 1.9em;
                padding-left: 40px;
                padding-top: 54px;
                letter-spacing: -0.2px;
                line-height: 1.25;
            }

            a {
                text-decoration: none;
                color: #fff;
                align-self: flex-end;
                padding-top: 30px;
            }

            .material-symbols-outlined {
                font-size: 2em;
            }
        }
    }

    /* Photographie centrale */
    &--image {
        margin-left: 200px;
        width: 600px;
        height: 600px;
    }

    /* Agenda à gauche */
    &--agenda {
        position: absolute;
        top: 200px;
        right: 0;
        width: 400px;

        .agenda-img {
            height: 400px;
        }

        .agenda-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
            aspect-ratio: 1;
            padding: 40px;

            &--date {
                color: #BE352E;
                font-weight: bold;
                display: flex;
                justify-content: space-between;

                .date-icon .material-symbols-outlined {
                    font-size: 2em;
                    padding-top: 4px;
                }
            }

            .date-event {
                padding: 16px 20px 0 0;
            }

            .text-event--detail {
                font-size: 1.3em;
                line-height: 1.5;
                letter-spacing: -0.4px;
                margin-top: 7px;
                margin-bottom: 70px;
            }

            .text-event--infos {
                opacity: 60%;
                font-style: italic;
                font-size: 0.9em;
                letter-spacing: -0.2px;
            }

            &--button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .button-left {
                    padding-top: 14px;

                    .material-symbols-outlined {
                        font-size: 0.75em;
                        padding-right: 9px;
                    }
                }

                .button-right {
                    display: flex;
                    align-items: center;
                    color: #BE352E;
                    text-decoration: none;
                    font-size: 0.9em;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    padding-bottom: 4px;

                    .material-symbols-outlined {
                        font-size: 2.2em;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    /* Adresse en bas */
    &--map {
        height: 400px;
        display: flex;
        flex-direction: row;

        .map-img {
            width: 600px;
            height: 100%;
        }

        .map-infos {
            background-color: #BE352E;
            color: #fff;
            width: 400px;
            aspect-ratio: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-content: center;

            &--icon .material-symbols-outlined {
                font-size: 2.8em;
            }

            &--title {
                text-transform: uppercase;
                letter-spacing: 3.5px;
                font-size: 1.15em;
            }

            &--address {
                font-size: 1.2em;
                line-height: 1.6;
                letter-spacing: 0.5px;
                font-weight: normal;
            }

            &--opening {
                font-weight: bold;
                font-size: 1em;
                line-height: 1.6;
            }
        }
    }
}

.section-infos {
    height: 1470px;
    background-image: url('../images/cite_fruges-image_background_3.jpg');
    background-size: cover;

    &--content {
        position: absolute;
        top: 0;
        left: 120px;
        width: 1200px;
        padding: 0;
    }

    &--top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &--discover {
        width: 400px;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        color: #fff;

        span {
            transform: scaleX(-1);
            font-size: 2.5em;
            margin-top: 10px;
        }

        h3 {
            margin-top: 25px;
            font-size: 1.1em;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        aspect-ratio: 1;
        line-height: 1.6;
        color: #fff;
    }

    &--title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 525px;
        cursor: pointer;
    }

    &--first,
    &--second {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
    }

    &-cite,
    &-protagonist {
        width: 400px;
        padding-left: 40px;
        font-size: 2.47em;
        margin: 25px 0;
        opacity: 60%;
    }

    span.arrow-cite,
    span.arrow-protagonist {
        font-size: 2em;
        padding-left: 10px;
        display: none;
    }

    .active {
        h2 {
            opacity: 100%;
        }

        span {
            display: inline;
        }
    }
    .section-infos-detail {
        position: absolute;
        top: 400px;
        left: 799px;
        width: 520px;
        height: 586px;

        .detail-element {
            display: none;
        }

        .detail-content {
            padding: 110px 120px 70px 50px;
            background-color: #fff;
        }

        .detail-element.active {
            display: inline;
        }

        .detail-text {
            margin: 0;
            padding: 0;
            line-height: 1.86;
        }

        .detail-infos {
            margin: 0;
            padding: 0;
            padding-top: 35px;
            font-weight: bold;
            font-style: italic;
            font-size: 0.85em;
            letter-spacing: 0.1px;
            line-height: 1.56;
        }

        .detail-buttons {
            background-color: #fff;
            height: 95px;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .material-symbols-outlined {
                font-size: 1.2em;
            }

            &--more,
            &--ticket {
                display: block;
                margin: 0;
                padding: 40px 50px;
                border: 0.5px solid #1e1e1e75;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.8em;
                letter-spacing: 4.8px;
                display: flex;
                align-items: center;
            }

            &--more {
                width: 40%;
                border-right: none;
                color: #399CA2;
            }

            &--ticket {
                width: 60%;
                color: #BE352E;

                .material-symbols-outlined {
                    transform: rotate(135deg);
                }
            }
        }
    }
}

.section-librairy {
    height: 1510px;

    .section-librairy-title {
        margin-top: 180px;
        margin-bottom: 152px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 4.5px;
        color: #BE352E;

        .material-symbols-outlined {
            padding-bottom: 22px;
            font-size: 2em;
        }
    }

    .section-library--content {
        background-color: yellow;
        position: absolute;
        top: 225px;
        left: 120px;
    }

    .content-mosaic {
        display: flex;
        flex-wrap: wrap;
        width: 1600px;
        height: 800px;
        margin: 0 auto;

        .content-mosaic-element {
            width: 400px;
            height: 400px;
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            background-color: #f5f5f5;

            .element-title {
                padding: 60px 40px;

                &--icon.material-symbols-outlined {
                    display: block;
                    margin-bottom: 30px;
                    font-size: 2em;
                }
            }

            &--icon.material-symbols-outlined, 
            &-bottom, 
            &-bottom--link .material-symbols-outlined {
                color: #399CA2;
            }

            &-title--name {
                font-size: 1.25em;
            }

            .element-bottom {
                align-self: flex-end;
                display: flex;
                flex-direction: row;
                padding: 30px 25px;

                &-size {
                    letter-spacing: 3.2px;
                    font-weight: normal;
                }

                &--link .material-symbols-outlined {
                    margin: 0;
                    margin-left: 10px;
                    font-size: 3em;
                    text-decoration: none;
                }
            }

            .element-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        #element-1, #element-1 .material-symbols-outlined, #element-1 .element-bottom-size {
            background-color: #399CA2;
            color: #fff;
        }

        #element-2 .material-symbols-outlined {
            color: #BE352E;
        }

        #element-4, #element-4 .material-symbols-outlined, #element-4 .element-bottom-size {
            background-color: #BE352E;
            color: #fff;
        }
    }

    .content-title {
        margin-top: 60px;
        position: absolute;
        left: calc(50% - 120px); // J'ai laissé la valeur précédente commentée, car elle semblait être une répétition de la ligne suivante.
        left: 548px; // Si c'est intentionnel, laisse cette ligne.
        top: 1025px;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        color: #BE352E;

        .material-symbols-outlined {
            margin-left: 13px;
        }
    }
}

