// _variables.scss

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Futura', 'Helvetica', sans-serif;
$color-primary: #1e1e1e;
$color-secondary: #399CA2;
$color-tertiary: #BE352E;
$color-white: #fff;
$container-width: 1440px;
